name: Auto approve autobuild PRs

on:
  pull_request_target

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    steps:
    - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
    - uses: hmarr/auto-approve-action@v2.0.0
      if: github.actor == 'github-actions[bot]' && ${{ steps.extract_branch.outputs.branch }} == 'triggerbuild-*'
      with:
        github-token: "${{ secrets.GITHUB_TOKEN }}"
